<div class="page-width">
  <div class="grid">

    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="content-block text-center">
        <h1>{{ 'customer.register.title' | t }}</h1>

        <div class="form-vertical text-center">
         <div class="customr-wrapper">
  {% include 'customr' %}
</div>

        </div>
      </div>
    </div>
  </div>
</div>
