<div class="center mb5-ns mb3 testimonials" style="max-width:990px">
  <div class="cf  w-100" >
  	<div class="fl h-100 tl pointer w-10 mt7 mt6-l"  style="width:5%" onclick="plusDivs(-1)">&#10094;</div> 
      
    	<!--  Noah Ohlsen   -->
  
  
 			<div class="mySlides animate-right fl w-90 h-100 your-class " style="overflow:hidden; height: auto;"> 
       			<div  class="fl w-40-l w-100-m w-100 ma0 h-70-m h-100 ph5-m " > 
					 <a href="#"  onclick="showModal('noah')" 
                        style="background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/NoahTestimonial.jpg?12332466246); 
                               margin-left:auto; margin-right:auto;"  
       				 	class="dim show-modal link w-100 w-90-m h-100 dt  cover bg-top tc br4"> 
   							<span class="white dtc v-mid w-100 h-100  bg-black-10 pa5 pv6-m f-headline br4" >
    							<i class="fa fa-play-circle-o o-90" style="color:#df1f1f; margin-left:auto; margin-right:auto" ></i> 
   							</span> 
 					</a>  
             
 
  				</div>
              
       			<div class="fl w-60-l w-100 ma0 f3 ph4 pt3"> 
         			<p class="mv2 f3" style="text-transform:uppercase;color:#df1f1f">Noah Ohlsen</p> 
         
         			<span class="mv3 f3">
           				<i class="fa fa-quote-left mr2" style="color:#df1f1f" aria-hidden="true"></i> 
           				It was a really awesome experience, really fun guys.
	           			Really easy to work with them, they coached me ton of different drills, 
                        my snatch got better in a very short amount of time. 
    	                Highly recommended!</span> 
         			<p class="tr f4" style="color:#df1f1f">Noah Ohlsen</p>
       			</div> 
   			</div>  


   		<!--  Diane Fu / FuBarbell   -->
  
  
			<div class="mySlides animate-right fl w-90 h-100 your-class " style="overflow:hidden; height: auto;"> 
       			<div  class="fl w-40-l w-100-m w-100 ma0 h-70-m h-100 ph5-m " > 
					<a href="#"  onclick="showModal('fubarbell')" 
                       style="background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/slideimage2_04412fb0-0070-42ba-a7ce-50786fa4f7f0.jpg?3356083887802860933); 
                              margin-left:auto; margin-right:auto;"  
       					class="dim show-modal link w-100 w-90-m h-100 dt  cover bg-top tc br4"> 
   						<span class="white dtc v-mid w-100 h-100  bg-black-10 pa5 pv6-m f-headline br4" >
     						<i class="fa fa-play-circle-o o-90" style="color:#df1f1f; margin-left:auto; margin-right:auto" ></i> 
   						</span> 
 					</a>  
  				</div>
              
       			<div class="fl w-60-l w-100 ma0 f3 ph4 pt3"> 
         			<p class="mv2 f3" style="text-transform:uppercase;color:#df1f1f">CrossFit FuBarbell</p> 
         
         			<span class="mv3 f3">
           				<i class="fa fa-quote-left mr2" style="color:#df1f1f" aria-hidden="true"></i> 
           				Alexey is one of the only coaches I know of that actually addresses very valuable technical pieces that are underaddressed.
            	  	</span> 
         
         			<p class="tr f4" style="color:#df1f1f">Diane Fu</p>
       			</div> 
   			</div>  

  
  		 <!--  California Strength   -->
  
  
 			<div class="mySlides animate-right fl w-90 h-100 your-class " style="overflow:hidden; height: auto;"> 
		       <div  class="fl w-40-l w-100-m w-100 ma0 h-70-m h-100 ph5-m " > 
 					<a href="#" onclick="showModal('californiaStrength')" 
					    style="background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/slideimage3_b0792c94-73b1-4512-9fd6-7fb5a667b0fa.jpg?3356083887802860933); 
                               margin-left:auto; margin-right:auto;"  
       					class="dim show-modal link w-100 w-90-m h-100 dt  cover bg-top tc br4"> 
   						<span class="white dtc v-mid w-100 h-100  bg-black-10 pa5 pv6-m f-headline br4" >
     						<i class="fa fa-play-circle-o o-90" style="color:#df1f1f; margin-left:auto; margin-right:auto" ></i> 
   						</span> 
 					</a>  
  				</div>
              
       			<div class="fl w-60-l w-100 ma0 f3 ph4 pt3"> 
 			        <p class="mv2 f3" style="text-transform:uppercase;color:#df1f1f">California Strength</p> 
				        <span class="mv3 f3">
           					<i class="fa fa-quote-left mr2" style="color:#df1f1f" aria-hidden="true"></i> 
           					I really had a good time learning from Alexey, 
                            I really liked how he really taught me about stability and improved my jerk.
                  		</span> 
         
         			<p class="tr f4" style="color:#df1f1f">Seminar participant</p>
       			</div> 
   			</div>  
 
  
   		<!--  Huntington Beach   -->
  
  
 			<div class="mySlides animate-right fl w-90 h-100 your-class " style="overflow:hidden; height: auto;"> 
       			<div  class="fl w-40-l w-100-m w-100 ma0 h-70-m h-100 ph5-m " > 
 					<a href="#" onclick="showModal('huntingtonBeach')" 
					    style="background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/slideimage4_a8578e55-b237-4c13-a210-3765bc8bbf47.jpg?3356083887802860933); margin-left:auto; margin-right:auto;"  
				        class="dim show-modal link w-100 w-90-m h-100 dt  cover bg-top tc br4"> 
 						<span class="white dtc v-mid w-100 h-100  bg-black-10 pa5 pv6-m f-headline br4" >
     						<i class="fa fa-play-circle-o o-90" style="color:#df1f1f; margin-left:auto; margin-right:auto" ></i> 
  						</span> 
					</a>  
             
 				</div>
       
              	<div class="fl w-60-l w-100 ma0 f3 ph4 pt3"> 
         			<p class="mv2 f3" style="text-transform:uppercase;color:#df1f1f">CrossFit Huntington Beach</p> 
         
         			<span class="mv3 f3">
           				<i class="fa fa-quote-left mr2" style="color:#df1f1f" aria-hidden="true"></i> 
           				Amazing guys, really really good coaching, very hands-on as well, 
                        a lot of different techniques and movements that I can help implement to my clients. 
           				I absolutely recommend these people.
                    </span> 
         
         			<p class="tr f4" style="color:#df1f1f">Seminar participant</p>
       			</div> 
   			</div>   

 
  
   		<!--  210 Crossfit Gym Woman   -->
  
  
 			<div class="mySlides animate-right fl w-90 h-100 your-class " style="overflow:hidden; height: auto;"> 
       			<div  class="fl w-40-l w-100-m w-100 ma0 h-70-m h-100 ph5-m " > 
 					<a href="#" onclick="showModal('210crossfitgymF')" 
					    style="background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/slideimage5_53166669-20b9-4334-bf7a-5a4a9d39d3d2.jpg?3356083887802860933); 
                        	  margin-left:auto; margin-right:auto;"  
       					class="dim show-modal link w-100 w-90-m h-100 dt  cover bg-top tc br4"> 
   						<span class="white dtc v-mid w-100 h-100  bg-black-10 pa5 pv6-m f-headline br4" >
     						<i class="fa fa-play-circle-o o-90" style="color:#df1f1f; margin-left:auto; margin-right:auto" ></i> 
   						</span> 
 					</a>  
             	</div>
       
              	<div class="fl w-60-l w-100 ma0 f3 ph4 pt3"> 
         			<p class="mv2 f3" style="text-transform:uppercase;color:#df1f1f">210 CrossFit Gym</p> 
         
         			<span class="mv3 f3">
          				<i class="fa fa-quote-left mr2" style="color:#df1f1f" aria-hidden="true"></i>  
           				Seminar was run very professionally, with a clear agenda.
           				Once you are in the room with somebody like Alexey you just want to learn and you want to do well. So that's priceless.
         
         			</span> 
         
         			<p class="tr f4" style="color:#df1f1f">Seminar participant</p>
       			</div> 
   			</div>   
    
    
 		<!--  210 Crossfit Gym Man   -->
  
  
 			<div class="mySlides animate-right fl w-90 h-100 your-class " style="overflow:hidden; height: auto;"> 
       			<div  class="fl w-40-l w-100-m w-100 ma0 h-70-m h-100 ph5-m " > 
 					<a href="#" onclick="showModal('210crossfitgymM')" 
					    style="background-image: url(https://cdn.shopify.com/s/files/1/1806/0489/files/slideimage6-jpg_b3325ced-61c9-485a-bccb-158cad609d4a.jpg?3356083887802860933); margin-left:auto; margin-right:auto;"  
				       class="dim show-modal link w-100 w-90-m h-100 dt  cover bg-top tc br4"> 
					   <span class="white dtc v-mid w-100 h-100  bg-black-10 pa5 pv6-m f-headline br4" >
						   <i class="fa fa-play-circle-o o-90" style="color:#df1f1f; margin-left:auto; margin-right:auto" ></i> 
					   </span> 
					</a>  
             	</div>
       			<div class="fl w-60-l w-100 ma0 f3 ph4 pt3"> 
         			<p class="mv2 f3" style="text-transform:uppercase;color:#df1f1f">210 CrossFit Gym</p> 
         
         			<span class="mv3 f3">
          				<i class="fa fa-quote-left mr2" style="color:#df1f1f" aria-hidden="true"></i> 
         				Learning different techniques helped me a lot with my transitioning.
           				I also appreciate the advice, the honesty and critique, what we do right, what we can improve. It was great seminar.
         			</span> 
         
         			<p class="tr f4" style="color:#df1f1f">Seminar participant</p>
       			</div> 
   			</div>   
    
      
    
  			<div class="fl h-100 tr pointer mt7 mt6-l" style="width:5%" onclick="plusDivs(+1)">&#10095;</div>
      </div> 

  </div>
 


  
<!-- The Modal -->
<div id="modalWindow" class="modal">
  <!-- Modal content -->
  <div class="modal-content br4">
    <div class="modal-header br3 br--top">
      <span class="close">&times;</span>
      <p id="modalTitle" class="white "></p>
    </div>
    <div id="videoTestimonial" class="modal-body"></div>
    <div class="modal-footer br3 br--bottom" style="height:20px">
      
    </div>
  </div>
</div>

<script>
// Get the modal
// var modal = document.getElementById('myModal1') || ;

// Get the button that opens the modal
// var btn = document.getElementById("myBtn1");

  var showModal = function (modalId) {    
    var modal = document.getElementById('modalWindow');
    
    var videos = {
      "noah": {
        "video": "https://www.youtube.com/embed/g8OkqYuqUbE",
        "title": "Noah Ohlsen"
      },
      "fubarbell": {
        "video": "https://www.youtube.com/embed/M6QcbTkEuKo",
        "title": "CrossFit FuBarbell"
      },
      "californiaStrength": {
        "video": "https://www.youtube.com/embed/3jpjCD5K4mA",
        "title": "California Strength Seminar"
      },
      "huntingtonBeach": {
        "video": "https://www.youtube.com/embed/K0M1Fe6h8LA",
        "title": "CrossFit Huntington Beach"
      },
      "210crossfitgymF": {
        "video": "https://www.youtube.com/embed/uy_cfeShJrA",
        "title": "210 CrossFit Gym"
      },
      "210crossfitgymM": {
        "video": "https://www.youtube.com/embed/g6KieKeeX7k",
        "title": "210 CrossFit Gym"
      }
    }
    
    $("#modalTitle").text(videos[modalId].title);
    
    var setVideo = function () {
      $("#videoTestimonial").html('<iframe width="560" height="315" style="width:100%" src="' + videos[modalId].video + '" frameborder="0" allowfullscreen></iframe>');
    }
    
    setVideo()
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    modal.style.display = "block";

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
      setVideo();  
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
        setVideo();
      }
    }
  }
</script>
  	
<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 15000); 
}
showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
}
  

</script>




{% schema %}
  {
    "name": "Testimonials",
    "settings": []
  }
{% endschema %}
