<style type="text/css">
.tablefontsize {
  font-size: 16px;
}

.weight {
  width: 40px;
}

.reps {
}
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: inner-spin-button; 
  margin: 0; 
  padding: 0;
}
.tabler tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
table, th, td {
    border: 2px solid #ddd;
}
.table {
    margin-top: 20px;
}

</style>
<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
      {{ page.content }} 
    <div style="overflow-x:auto;">
     <!-- ============ -->
      <div id=mainShell class=container>
        <div class=row>
          <main class=col-sm-12>
<!--             <span id=ezoic-pub-ad-placeholder-109 class=ezoic-adpicker-ad></span>
            <span class="ezoic-ad ezoic-at-0 box-2 box-2109 adtester-container adtester-container-109" data-ez-name=exrx_net-box-2>
              <span id=div-gpt-ad-exrx_net-box-2-0 ezaw=728 ezah=90 style=position:relative;z-index:0;display:inline-block;padding:0;min-height:90px;min-width:728px class=ezoic-ad>
                <script data-ezscrex=false data-cfasync=false style=display:none>
                  if(typeof ez_ad_units!='undefined'){ez_ad_units.push([[728,90],'exrx_net-box-2','ezslot_1',109,'0','0'])};__ez_fad_position('div-gpt-ad-exrx_net-box-2-0');
                </script>
              </span>
            </span>
            <article></article> -->
          </main>
        </div>
        <div class=row>
          <main class=col-sm-9>
<!--             <article>
              <div>
                <div class="ccm-custom-style-container ccm-custom-style-calculatortopcontentadvertise-86904 Add-Margin-Bottom">
                  <span id=ezoic-pub-ad-placeholder-103></span>
                  <span class="ezoic-ad ezoic-at-0 medrectangle-3 medrectangle-3103 adtester-container adtester-container-103" data-ez-name=exrx_net-medrectangle-3>
                    <span id=div-gpt-ad-exrx_net-medrectangle-3-0 ezaw=728 ezah=90 style=position:relative;z-index:0;display:inline-block;padding:0;min-height:90px;min-width:728px class=ezoic-ad>
                      <script data-ezscrex=false data-cfasync=false style=display:none>
                        if(typeof ez_ad_units!='undefined'){ez_ad_units.push([[728,90],'exrx_net-medrectangle-3','ezslot_2',103,'0','0'])};__ez_fad_position('div-gpt-ad-exrx_net-medrectangle-3-0');
                      </script>
                    </span>
                  </span>
                </div>
              </div>
            </article> -->
            <article>
              <div class=Add-Margin-Bottom>
                <!-- Yevhen calc -->
                <div class="yevhen-calc">
                  <img src="https://relawebsitestg.wpengine.com/secure.jpg">
                  <style>
                    .yevhen-calc ul li {
                      list-style-position: inside;
                    }
                    .yevhen-calc input {
                      padding: 10px 10px;
                      border-radius: 6px;
                      border: 1px solid #7e7e7e;
                    }
                    .yevhen-calc select {
                      padding: 10px 6px;
                      border-radius: 6px;
                      border: 1px solid #7e7e7e;
                    }
                    .yevhen-calc button {
                      border-radius: 6px;
                      padding: 12px 20px;
                      font-size: 1.2em;
                      display: inline-block;
                      justify-self: start;
                      color: #fff;
                      background-color: #c76041;
                      border: none;
                      cursor: pointer;
                      transition: 0.2s ease;
                    }
                    .yevhen-calc button:hover {
                      background-color: #b6593d;
                    }
              
                    .yevhen-calc {
                      font-family: sans-serif;
                      max-width: 1100px;
                    }
                    .yevhen-calc__title, .yevhen-calc__section-title {
                      font-weight: 500;
                    }
                    .yevhen-calc__section {
                      margin-bottom: 40px;
                    }
                    .yevhen-calc__section_results {
                      display: none;
                      padding: 30px;
                      background: #f5f5f5;
                      position: relative;
                    }
                    .yevhen-calc__section_results::after {
                      content: '';
                      display: block;
                      position: absolute;
                      z-index: 1;
                      background-image: url('https://relawebsitestg.wpengine.com/secure.jpg');
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      background-repeat: no-repeat;
                      background-position: center;
                    }
                    .yevhen-calc__section_results.active {
                      display: block;
                    }
                    .yevhen-calc__section_results .yevhen-calc__title, .yevhen-calc__section_results .yevhen-calc__section-title {
                      font-weight: 700;
                    }
                    .yevhen-calc__incoming-row {
                      display: grid;
                      grid-template-columns: 120px 1fr;
                      align-items: center;
                      margin-bottom: 15px;
                    }
                    .yevhen-calc__incoming-row:last-child {
                      margin-bottom: 0;
                    }
                    .yevhen-calc__incoming-row {
                      font-weight: 700;
                    }
                    .yevhen-calc__input-row {
                      display: grid;
                      grid-template-columns: 1fr 60px;
                    }
                    .yevhen-calc__input-row input {
                      border-radius: 6px 0 0 6px;
                    }
                    .yevhen-calc__input-row select {
                      border-radius: 0 6px 6px 0;
                      border-left: none;
                    }
                    .yevhen-calc__units-header {
                      display: grid;
                      grid-template-columns: 1fr 1fr;
                      column-gap: 20px;
                      font-weight: 700;
                      border-bottom: 1px solid #ccc;
                      padding-bottom: 15px;
                      margin-bottom: 15px;
                    }
                    .yevhen-calc__units-section {
                      display: none;
                    }
                    .yevhen-calc__units-section.active {
                      display: block;
                    }
                    .yevhen-calc__units-section label {
                      display: grid;
                      grid-template-columns: 1fr 1fr;
                      column-gap: 20px;
                      align-items: center;
                      margin-bottom: 15px;
                    }
                    .yevhen-calc__units-section label:last-child {
                      margin-bottom: 0;
                    }
              
                    @media (max-width: 800px) {
                      .yevhen-calc__incoming-row {
                        grid-template-columns: 1fr;
                      }
                      .yevhen-calc__incoming-prefix {
                        margin-bottom: 10px;
                      }
                    }
                  </style>
                  <img src="https://relawebsitestg.wpengine.com/secure.jpg">
                
                  <script>
                    document.addEventListener('DOMContentLoaded', () => {
              
                      platesCalculator();
                      function platesCalculator() {
                    
                        const form              = document.querySelector('[data-gym-form]')
                        const inputs            = form.querySelectorAll('[data-income]');
                        const unitsSelects      = form.querySelectorAll('[data-change-unit]');
                        const unitsForms        = form.querySelectorAll('[data-units-form');
                        const resultsSection    = document.querySelector('[data-results]');
                        const resultsField      = document.querySelector('[data-results-field]');
                    
                        let unit                = 'kg';
                    
                        unitsSelects.forEach(select => {
                          select.addEventListener('input', (evt) => {
                            changeUnit(evt.target.value);
                          });
                        })
                    
                        // inputs.forEach(input => {
                        //   input.addEventListener('input', calculate);
                        // });
                        form.addEventListener('submit', (evt) => {
                          evt.preventDefault();
                          calculate();
                        });
                        // calculate();
                    
                        function collectPlates() {
                          const platesInputs = document.querySelectorAll('[data-units-form].active [data-plate]');
                          const plates = [];
                    
                          platesInputs.forEach(input => {
                            plates.push({[input.dataset.plate]: input.valueAsNumber});
                          });
                    
                          return plates;
                        }
                    
                        function changeUnit(targetUnit) {
                          unit = targetUnit;
                    
                          unitsSelects.forEach(select => {
                            select.value = unit;
                          });
                    
                          unitsForms.forEach(form => {
                            if (form.dataset.unitsForm === targetUnit) {
                              form.classList.add('active')
                            } else {
                              form.classList.remove('active')
                            }
                          });
                        }
                    
                        function calculateVariations(sideWeight, availablePlates) {
                          const variations = [];
                    
                          findWay(sideWeight, []);
                          function findWay(remainder, accumulator) {
                            for (let i = 0; i < availablePlates.length; i++) {
                              if (remainder === 0) break;
                              const plate = availablePlates[i];
                              const plateKey = Object.keys(plate)[0];
                              const plateWeight = +plateKey;
                              let plateCount = plate[plateKey];
                    
                              while (plateCount >= 2) {
                                plateCount -= 2;
                                const result = remainder - plateWeight;
                                if (result < 0) {
                                  break;
                                }
                    
                                remainder = result;
                                accumulator.push(plateWeight);
                              }
                            }
                            variations.push({remainder, usedPlates: accumulator});
                          }
                    
                          return variations;
                        }
                    
                        function calculate() {
                          const totalLift = document.querySelector('[data-income="TL"]').valueAsNumber;
                          const barWeight = document.querySelector('[data-income="BW"]').valueAsNumber;
                    
                          if (totalLift < barWeight) {
                            showResult('The total lift cannot be less than the weight of the bar!', {
                              targetLift: totalLift,
                              totalLift: barWeight,
                              barWeight,
                              usedPlates: []
                            });
                            return;
                          }
                    
                          const availablePlates = collectPlates();
                          const sideWeight = (totalLift - barWeight) / 2;
                    
                          const variations = calculateVariations(sideWeight, availablePlates);
                          const bestWay = findBestWay(variations);
                    
                          showResult(null, {
                            targetLift: totalLift,
                            totalLift: barWeight + bestWay.remainder,
                            barWeight,
                            usedPlates: bestWay.usedPlates
                          });
                        }
                    
                        function findBestWay(variations) {
                          const remainder = variations[0].remainder;
                          const usedPlates = variations[0].usedPlates;
                          let totalLift = 0;
                    
                          const filteredUsedPlates = usedPlates.reduce((prev, curr) => {
                            totalLift += curr;
                    
                            const previousPlate = prev[prev.length-1];
                            if (!prev.length) {
                              prev.push({[curr]: 1});
                              return prev;
                            }
                    
                            if (Object.keys(previousPlate)[0] == curr) {
                              previousPlate[curr]++;
                            } else {
                              prev.push({[curr]: 1});
                            }
                            return prev;
                          }, []);
                    
                          totalLift *= 2;
                    
                          return {
                            remainder: totalLift,
                            usedPlates: filteredUsedPlates
                          };
                        }
                    
                        function showResult(err, {targetLift, totalLift, barWeight, usedPlates}) {
                          resultsSection.classList.add('active');
                          window.scrollTo({
                            top: resultsSection.getBoundingClientRect().top - 100,
                            behavior: 'smooth'
                          });
                    
                          if (err) {
                            resultsField.innerHTML = `<p>${err}<p>`;
                            return;
                          }
                    
                          const platesCount = usedPlates.reduce((prev, curr) => {
                            return prev + Object.values(curr)[0];
                          }, 0);
                    
                          if (totalLift < targetLift) {
                            resultsField.innerHTML = `<p>We couldn't make your lift exactly but you can make <b>${totalLift} ${unit}</b> from <b>${platesCount} plates</b> each side plus the bar weight of <b>${barWeight} ${unit}</b>.</p>`;
                            resultsField.innerHTML += `<p>This is <b>${targetLift - totalLift} ${unit}</b> under your target of <b>${targetLift} ${unit}</b>.</p>`;
                          } else {
                            resultsField.innerHTML = `<p>You can make <b>${totalLift} ${unit}</b> from <b>${platesCount} plates</b> each side plus the bar weight of <b>${barWeight} ${unit}</b>.</p>`;
                          }
                          
                          resultsField.innerHTML += '<h3>Each side</h3>';
                    
                          const list = document.createElement('ul');
                          usedPlates.forEach(plate => {
                            const li = document.createElement('li');
                            li.innerText = `${Object.values(plate)[0]} x ${Object.keys(plate)[0]} ${unit}`;
                            list.append(li);
                          });
                          resultsField.append(list);
                          
                          resultsField.innerHTML += `<br><p>Bar: ${barWeight} ${unit}</p>`;
                        }
                    
                      }
                    
                    });
                  </script>
              
                  <h2 class="yevhen-calc__title">
                    Calculate the plates you need to load on your barbell
                  </h2>
                  <img src="https://relawebsitestg.wpengine.com/secure.jpg">
                  <form data-gym-form>
                    <div class="yevhen-calc__section">
                      <h3 class="yevhen-calc__section-title">
                        Enter the lift you want to perform:
                      </h3>
                      <div class="yevhen-calc__incoming">
                        <div class="yevhen-calc__incoming-row">
                          <div class="yevhen-calc__incoming-prefix">Total Lift</div>
                          <div class="yevhen-calc__input-row">
                            <input data-income="TL" type="number" value="0">
                            <select data-change-unit>
                              <option value="kg">kg</option>
                              <option value="lb">lb</option>
                            </select>
                          </div>
                        </div>
                        <div class="yevhen-calc__incoming-row">
                          <div class="yevhen-calc__incoming-prefix">Bar Weight</div>
                          <div class="yevhen-calc__input-row">
                            <input data-income="BW" type="number" value="20">
                            <select data-change-unit>
                              <option value="kg">kg</option>
                              <option value="lb">lb</option>
                            </select>
                          </div>
                        </div>
                        <div class="yevhen-calc__incoming-row">
                          <div class="yevhen-calc__incoming-prefix"></div>
                          <button>Calculate Plates</button>
                        </div>
                      </div>
                    </div>
                    <img src="https://relawebsitestg.wpengine.com/secure.jpg">
                    
                    
                <div class="content_hint"></div>    
                    <div class="yevhen-calc__section" style="margin-top: 30px;">
                      <h3 class="yevhen-calc__section-title">
                        Customize the plates you have available at your gym (optional):
                      </h3>
                      <header class="yevhen-calc__units-header">
                        <div class="yevhen-calc__units-header-side">Plate Weight</div>
                        <div class="yevhen-calc__units-header-side">Quantity (each side)</div>
                      </header>
                      <div class="yevhen-calc__units-section active" data-units-form="kg">
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            25 kg
                          </div>
                          <input data-income="PQ" data-plate="25" type="number" value="0">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            20 kg
                          </div>
                          <input data-income="PQ" data-plate="20" type="number" value="10">
                        </label>
                        <img src="https://relawebsitestg.wpengine.com/secure.jpg">
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            15 kg
                          </div>
                          <input data-income="PQ" data-plate="15" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            10 kg
                          </div>
                          <input data-income="PQ" data-plate="10" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            5 kg
                          </div>
                          <input data-income="PQ" data-plate="5" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            2.5 kg
                          </div>
                          <input data-income="PQ" data-plate="2.5" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            1.25 kg
                          </div>
                          <input data-income="PQ" data-plate="1.25" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            1 kg
                          </div>
                          <input data-income="PQ" data-plate="1" type="number" value="0">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            0.75 kg
                          </div>
                          <input data-income="PQ" data-plate="0.75" type="number" value="0">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            0.5 kg
                          </div>
                          <input data-income="PQ" data-plate="0.5" type="number" value="0">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            0.25 kg
                          </div>
                          <input data-income="PQ" data-plate="0.25" type="number" value="0">
                        </label>
                      </div>
                      <div class="yevhen-calc__units-section" data-units-form="lb">
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            100 lb
                          </div>
                          <input data-income="PQ" data-plate="100" type="number" value="0">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            55 lb
                          </div>
                          <input data-income="PQ" data-plate="55" type="number" value="0">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            45 lb
                          </div>
                          <input data-income="PQ" data-plate="45" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            35 lb
                          </div>
                          <input data-income="PQ" data-plate="35" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            25 lb
                          </div>
                          <input data-income="PQ" data-plate="25" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            15 lb
                          </div>
                          <input data-income="PQ" data-plate="15" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            10 lb
                          </div>
                          <input data-income="PQ" data-plate="10" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            5 lb
                          </div>
                          <input data-income="PQ" data-plate="5" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            2.5 lb
                          </div>
                          <input data-income="PQ" data-plate="2.5" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            1.25 lb
                          </div>
                          <input data-income="PQ" data-plate="1.25" type="number" value="10">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            1 lb
                          </div>
                          <input data-income="PQ" data-plate="1" type="number" value="0">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            0.75 lb
                          </div>
                          <input data-income="PQ" data-plate="0.75" type="number" value="0">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            0.5 lb
                          </div>
                          <input data-income="PQ" data-plate="0.5" type="number" value="0">
                        </label>
                        <label>
                          <div class="yevhen-calc__units-section-weight">
                            0.25 lb
                          </div>
                          <input data-income="PQ" data-plate="0.25" type="number" value="0">
                        </label>
                      </div>
                    </div>
                  </form>
                  <div class="yevhen-calc__section yevhen-calc__section_results" data-results>
                  <h2 class="yevhen-calc__title">
                    Plates Calculated
                  </h2>
                  <div data-results-field>
                    
                  </div>
                  <!-- <p>
                    You can make <b>50 kg</b> from <b>1 plate</b> each side plus the bar weight of <b>20 kg</b>.</b>
                  </p>
                  <h3 class="yevhen-calc__section-title">
                    Each side
                  </h3>
                  <ul>
                    <li>
                      1 x 15 kg
                    </li>
                  </ul>
                  <p>Bar: 20 kg</p> -->
                </div>
                </div>
                <!-- End Yevhen calc -->
        
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script data-pagespeed-no-defer>
                  var weighttolift=0;var percentage=0;var target=0;function startcalc()
                  {var weighttolift=document.getElementById('Weight').value;var percentage=document.getElementById('Percentage').value;var bar=document.getElementById('Bar').value;var target=document.getElementById('Target');targets=Math.floor(weighttolift*percentage);target.value=targets;var finals=Math.floor(parseInt(target.value)-parseInt(bar));if(collar==0)
                  {}
                  else
                  {var collar=document.getElementById('collars').value;finals=finals-Math.floor(parseInt(collar));}
                  var weightcalculate=0;var avail100=document.getElementById('avail100').value;if(avail100==0)
                  {document.getElementById('req100').value=null;}
                  else
                  {var b=0;for(var a=1;a<=avail100;a++)
                  {if(finals>=200)
                  {b++;finals-=200;weightcalculate+=200;}}
                  if(b==0)
                  {document.getElementById('req100').value=null;}
                  else{document.getElementById('req100').value=b;}}
                  var avail45=document.getElementById('avail45').value;if(avail45==0)
                  {document.getElementById('req45').value=null;}
                  else
                  {var c=0;for(var a=1;a<=avail45;a++)
                  {if(finals>=90)
                  {c++;finals-=90;weightcalculate+=90;}}
                  if(c==0)
                  {document.getElementById('req45').value=null;}
                  else{document.getElementById('req45').value=c;}}
                  var avail35=document.getElementById('avail35').value;if(avail35==0)
                  {document.getElementById('req35').value=null;}
                  else
                  {var d=0;for(var a=1;a<=avail35;a++)
                  {if(finals>=70)
                  {d++;finals-=70;weightcalculate+=70;}}
                  if(d==0)
                  {document.getElementById('req35').value=null;}
                  else{document.getElementById('req35').value=d;}}
                  var avail25=document.getElementById('avail25').value;if(avail25==0)
                  {document.getElementById('req25').value=null;}
                  else
                  {var e=0;for(var a=1;a<=avail25;a++)
                  {if(finals>=50)
                  {e++;finals-=50;weightcalculate+=50;}}
                  if(e==0)
                  {document.getElementById('req25').value=null;}
                  else{document.getElementById('req25').value=e;}}
                  var avail10=document.getElementById('avail10').value;if(avail10==0)
                  {document.getElementById('req10').value=null;}
                  else
                  {var f=0;for(var a=1;a<=avail10;a++)
                  {if(finals>=20)
                  {f++;finals-=20;weightcalculate+=20;}}
                  if(f==0)
                  {document.getElementById('req10').value=null;}
                  else{document.getElementById('req10').value=f;}}
                  var avail5=document.getElementById('avail5').value;if(avail5==0)
                  {document.getElementById('req5').value=null;}
                  else
                  {var g=0;for(var a=1;a<=avail5;a++)
                  {if(finals>=10)
                  {g++;finals-=10;weightcalculate+=10;}}
                  if(g==0)
                  {document.getElementById('req5').value=null;}
                  else
                  {document.getElementById('req5').value=g;}}
                  var avail2=document.getElementById('avail2').value;if(avail2==0)
                  {document.getElementById('req2').value=null;}
                  else
                  {var h=0;for(var a=1;a<=avail2;a++)
                  {if(finals>=5)
                  {h++;finals-=5;weightcalculate+=5;}}
                  if(h==0)
                  {document.getElementById('req2').value=null;}
                  else{document.getElementById('req2').value=h;}}
                </script>
                
                <br>
                
                <center>
                  <h2 class="gf_gs-text-heading-2">Olympic Weightlifting Training Programs</h2>
                </center>
                
                <div class="grid grid--no-gutters grid--uniform">
                  <div class="grid__item small--one-half medium-up--one-fifth">
                    <!-- /snippets/product-card.liquid -->
                    <a href="https://torokhtiy.com/products/intenso-cycle" class="product-card">
                      <div class="product-card__image-wrapper  ">
                        <img src="https://ucarecdn.com/ea6822b5-d8e2-4035-8ba6-af7d1d045c68/-/format/auto/-/preview/3000x3000/-/quality/lighter/1%20_64_.png" alt="Legs Strength (5 weeks)" class="product-card__image">
                      </div>
                      <div class="product-card__info">
                        <div class="product-card__name">INTENSO CYCLE</div>
                        <div class="product-card__price">
                          <span class="visually-hidden">Regular price</span>
                          $39.00
                        </div>
                      </div>
                      <div class="product-card__overlay">
                        <span class="btn product-card__overlay-btn ">View</span>
                      </div>
                    </a>
                  </div>
                <div class="grid__item small--one-half medium-up--one-fifth">
                  <!-- /snippets/product-card.liquid -->
                  <a href="https://torokhtiy.com/products/weightliftig-bodybuilding-summer-edition" class="product-card">
                    <div class="product-card__image-wrapper  ">       
                      <img src="https://ucarecdn.com/d922dae0-39cf-4c9b-bb34-fcafbb17d6a3/-/format/auto/-/preview/3000x3000/-/quality/lighter/OT_WEIGHTLIFTING%20BODYB87687UILDING_Cover.png" alt="Legs Strength (5 weeks)" class="product-card__image">
                    </div>
                    <div class="product-card__info">
                      <div class="product-card__name">Weightlifting Bodybuilding Summer Edition</div>
                      <div class="product-card__price">
                        <span class="visually-hidden">Regular price</span>
                        $39.00
                      </div>
                    </div>
                    <div class="product-card__overlay">
                      <span class="btn product-card__overlay-btn ">View</span>
                    </div>
                  </a>
                </div>
                <div class="grid__item small--one-half medium-up--one-fifth">
                  <!-- /snippets/product-card.liquid -->
                  <a href="https://torokhtiy.com/products/deadlift-2-0" class="product-card">
                    <div class="product-card__image-wrapper  ">
                      <img src="https://ucarecdn.com/32fca16f-b665-4598-868c-c6478b20ce2c/-/format/auto/-/preview/3000x3000/-/quality/lighter/OT_DEADLIFT%20CYCLE%202_0%20PROGRAM_cover_1080x1080.jpg" alt="Legs Strength (5 weeks)" class="product-card__image">
                    </div>
                    <div class="product-card__info">
                      <div class="product-card__name">DEADLIFT 2.0</div>
                      <div class="product-card__price">
                        <span class="visually-hidden">Regular price</span>
                        $39.00
                      </div>
                    </div>
                    <div class="product-card__overlay">
                      <span class="btn product-card__overlay-btn ">View</span>
                    </div>
                  </a>
                </div>
                <div class="grid__item small--one-half medium-up--one-fifth">
                  <!-- /snippets/product-card.liquid -->
                  <a href="https://torokhtiy.com/products/crossfit-weightlifting-program" class="product-card">
                    <div class="product-card__image-wrapper  ">
                      <img src="https://ucarecdn.com/78d9a266-eefc-47cb-add0-59f8f1568ec6/-/format/auto/-/preview/3000x3000/-/quality/lighter/2%20_61_.jpg" alt="Legs Strength (5 weeks)" class="product-card__image">
                    </div>
                    <div class="product-card__info">
                      <div class="product-card__name">WEIGHTLIFTING 4 CROSSFIT</div>
                      <div class="product-card__price">
                        <span class="visually-hidden">Regular price</span>
                        $39.00
                      </div>
                    </div>
                    <div class="product-card__overlay">
                      <span class="btn product-card__overlay-btn ">View</span>
                    </div>
                  </a>
                </div>
                <div class="grid__item small--one-half medium-up--one-fifth">
                  <!-- /snippets/product-card.liquid -->
                  <a href="https://torokhtiy.com/products/master-strength" class="product-card">
                    <div class="product-card__image-wrapper  ">
                      <img src="https://ucarecdn.com/b33eec5a-8a50-472d-a76f-a0760a30ede7/-/format/auto/-/preview/3000x3000/-/quality/lighter/MASTER%20STRENGTH%20PROGRAM.jpg" alt="Legs Strength (5 weeks)" class="product-card__image">
                    </div>
                    <div class="product-card__info">
                      <div class="product-card__name">MASTER STRENGTH</div>
                      <div class="product-card__price">
                        <span class="visually-hidden">Regular price</span>
                        $39.00
                      </div>
                    </div>
                    <div class="product-card__overlay">
                      <span class="btn product-card__overlay-btn ">View</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
              <h2><span style="font-weight: 400;"><strong>Weight Plate Barbell Racking Calculator </strong></span></h2>
<p><span style="font-weight: 400;">Tracking your strength training progress is vital to ensure you are progressing towards your goals. To do this, you need to know how much weight is on the bar.</span></p>
<p><span style="font-weight: 400;">Most gym equipment shows you the approximate weight you're lifting, but in the case of barbells, you need to do the math yourself. </span></p>
<p><span style="font-weight: 400;">Let's say you want to put 180 lbs on the bar. What plates do you put on each side of the bar? To save you from doing the maths, you can use a </span><span style="font-weight: 400;">barbell weight calculator</span><span style="font-weight: 400;">.</span></p>
<h2><span style="font-weight: 400;"><strong>What is a Weight Plate Barbell Racking Calculator?</strong></span></h2>
<p><span style="font-weight: 400;">This is simply a handy </span><span style="font-weight: 400;">bar weight calculator</span><span style="font-weight: 400;"> that shows you the type and amount of plates you should be putting on each side of the barbell to achieve the desired weight.</span></p>
<p><span style="font-weight: 400;">Rather than trying to manually calculate the weights in your head, </span><span style="font-weight: 400;">a plate calculator</span><span style="font-weight: 400;"> does all the hard work for you using this formula:</span></p>
<p><b>Total Weight - Barbell Weight - Collar Weight / Plates Available = Barbell weight needed </b></p>
<h3><span style="font-weight: 400;"><strong>Total weight</strong> </span></h3>
<p><span style="font-weight: 400;">This is simply the amount of weight you want to put on the barbell or the weight you need the weight plates + the barbell to add up to.</span></p>
<p><span style="font-weight: 400;">When putting the total weight in, some calculators let you put the % at which you want to lift which is handy if you're working with a periodised program using percentages to lift.</span></p>
<h3><span style="font-weight: 400;"><strong>Barbell weight</strong> </span></h3>
<p><span style="font-weight: 400;">Most gyms in America use </span><a href="about:blank"><span style="font-weight: 400;">barbells</span></a><span style="font-weight: 400;"> that weigh 45 lbs (or 20 kg). If the gym you're using has multiple bar sizes, check the label at the end of the barbell. </span></p>
<p><span style="font-weight: 400;">Smaller training bars tend to weigh around from 5 to 15 kg and home lifting bars are usually much smaller and lighter compared to Olympic bars with wider sleeves.</span></p>
<h3><span style="font-weight: 400;"><strong>Barbell collar weight</strong> </span></h3>
<p><span style="font-weight: 400;">Barbell collars are what stop the plates from falling off either side of the barbell when you're moving the bar around. They are designed using different closure mechanisms and weigh different amounts. </span></p>
<p><span style="font-weight: 400;">Whilst the weight of most barbell collars is usually minimal, it's still good to include them if the bar weight calculator has that function included. </span></p>
<ul>
<li style="font-weight: 400;"><b>None</b><span style="font-weight: 400;"> = 0 lbs</span></li>
<li style="font-weight: 400;"><b>Spring Collars </b><span style="font-weight: 400;">= 2 @ 0.5 lbs</span></li>
<li style="font-weight: 400;"><b>Clamp Collars</b><span style="font-weight: 400;"> = 2 @ 1 lb</span></li>
<li style="font-weight: 400;"><b>Standard Collars </b><span style="font-weight: 400;">= 2 @ 5 lbs</span></li>
</ul>
<h3><span style="font-weight: 400;"><strong>Plates available</strong> </span></h3>
<p><span style="font-weight: 400;">This refers to the number and weight of the different </span><a href="https://en.m.wikipedia.org/wiki/Weight_plate"><span style="font-weight: 400;">plates</span></a><span style="font-weight: 400;"> you have at your gym that can be added to the barbell.</span></p>
<p><span style="font-weight: 400;">Once you've inputted these numbers, the calculator will work out the most efficient way to load the bar using the plates you have.</span></p>
<p><span style="font-weight: 400;">What if You Can't Use a Bar Weight Calculator?</span></p>
<p><span style="font-weight: 400;">If you don't have a handy bar calculator app at the ready, here are some tips to make manual calculations easier:</span></p>
<h3><span style="font-weight: 400;"><strong>Memorize common combinations</strong></span></h3>
<p><span style="font-weight: 400;">If you’re working with a 45 lb bar that’s standard in most gyms, practice remembering certain plate combinations</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">55 lbs = 2 x 5 lb plates</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">65 lbs = 2 x 10 lb plates</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">95 lbs = 2 x 25 lb plates</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">135 lbs = 2 x 45 lb  plates</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">225 lbs = 4 x 45 lb plates </span></li>
</ul>
<br />
<p><span style="font-weight: 400;">Some gyms use kg weights and some use both. Follow the same principle using a 20 kg bar:</span></p>
<br />
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">40 kg = 2 x 10 kg plates</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">60 kg = 2 x 20 kg plates</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">100 kg = 4 x 20 kg plates</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">140 kg = 6 x 20 kg plates</span></li>
</ul>
<br />
<p><span style="font-weight: 400;">These combinations are the total amount of plates needed for the desired weight. You can customize these depending on your lifting level.</span></p>
<br />
<p><strong>Remember:</strong></p>
<b>
<li><strong>1 kg = 2.2 lbs</strong></li>
</b><b>
<li><strong>10 kg = ±22 lbs</strong></li>
</b><b>
<li><strong>20 kg = ±45 lbs</strong> </li>
</b><br />
<p><span style="font-weight: 400;">Add up the plates on one end of the bar, double that number then add on the bar and collar weights.</span></p>
<h2><span style="font-weight: 400;"><strong>Summary - Weight Plate Barbell Racking Calculators</strong></span></h2>
<p><span style="font-weight: 400;">Weight plate barbell racking calculator apps and sites provide convenient ways to calculate the amount of bar weight needed without wasting time trying to work out the maths.</span></p>
<p><span style="font-weight: 400;">If you need to do it manually, use the tips above to make your job easier.</span></p>
                <br>
          </article>
        </main>
        </div>
      </div>
    </div>
  </div>
</div>