<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
    <div class="rte rte--indented-images">
<div class="cf w-100">
  <p class="f3-ns f4 tl-ns tc">Currently we offer Olympic Weightlifting Seminars with Oleksiy Torokhtiy,<p  class="tl-ns f3-ns f4 tc"> and also Torokhtiy's Training Camp!</p> <p  class="f3-ns f4 tl-ns tc">Certification is coming soon </p>
<div class="fl-ns cf center w-third-ns w-100 pa3">
  
  
<a href="/collections/seminars" class="product-card">
  <div class="product-card__image-wrapper">
    <img src="https://cdn.shopify.com/s/files/1/1806/0489/files/Seminars_420x470_dcc98fce-bcc0-4698-b8cd-84b43731fce3.jpg?15011108115388818104" alt="seminars" class="product-card__image">
  </div>
  <div class="product-card__info">
    <div class="product-card__name">Seminars</div>

  </div>


  <div class="product-card__overlay">
    {% assign view_string_length = 'products.product.view' | t | size %}
    <span class="btn product-card__overlay-btn {% if view_string_length > 8 %} btn--narrow{% endif %}">More info</span>
  </div>
</a>


</div>
    <div class="fl-ns cf center w-third-ns w-100 pa3">
  <a href="/products/training-camp" class="product-card">
  <div class="product-card__image-wrapper">
    <img src="https://cdn.shopify.com/s/files/1/1806/0489/files/Camp_420x470_c3bf7801-b6a9-4676-a16a-9bfc71670b3d.jpg?15011108115388818104" alt="certification" class="product-card__image">
  </div>
  <div class="product-card__info">
    <div class="product-card__name">Torokhtiy's Training Camp</div>

  </div>


  <div class="product-card__overlay">
    {% assign view_string_length = 'products.product.view' | t | size %}
    <span class="btn product-card__overlay-btn {% if view_string_length > 8 %} btn--narrow{% endif %}">More info</span>
  </div>
</a>
</div>
<div class="fl-ns cf center w-third-ns w-100 pa3">
  <a href="/pages/certification" class="product-card">
  <div class="product-card__image-wrapper">
    <img src="https://cdn.shopify.com/s/files/1/1806/0489/files/Certification_420x470_d5ad2173-5928-4feb-8833-d6d64b9cf20f.jpg?15011108115388818104" alt="certification" class="product-card__image">
  </div>
  <div class="product-card__info">
    <div class="product-card__name">Certification</div>

  </div>


  <div class="product-card__overlay">
    {% assign view_string_length = 'products.product.view' | t | size %}
    <span class="btn product-card__overlay-btn {% if view_string_length > 8 %} btn--narrow{% endif %}">More info</span>
  </div>
</a>
</div>

  
</div>    </div>
  </div>

  {% section 'featured-products-subsection' %}
</div>


