<style type="text/css">
.tablefontsize {
  font-size: 16px;
}

.weight {
  width: 90px;
}

.reps {
}
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: inner-spin-button; 
  margin: 0; 
  padding: 0;
}
.tabler tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
table, th, td {
    border: 2px solid #ddd;
}
.table {
    margin-top: 20px;
}
</style>

<div class="page-width">
  <h1 class="small--text-center">{{ page.title }}</h1>
  <div class="content-block">
      {{ page.content }}
    
    <div class="lead">I did
      <input type="number" id="weight" step="1" min="1" class="weight" placeholder="Weight" pattern="[0-9]*"> for
      <select id="reps" class="reps">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      reps
    </div>

	<table class="table">
	<thead>
	  <tr style="background-color:#dc8f83;color:white;">
		<th>RM</th>
		<th>Average</th>
        <th>%</th>
	  </tr>
	</thead>
	<tbody class="output">

	</tbody>

	</table>
    <br><div class="content_hint"></div><br>

    <div class="grid grid--no-gutters grid--uniform">
       
      <div class="grid__item small--one-half medium-up--one-fifth">
        <!-- /snippets/product-card.liquid -->



<a href="https://torokhtiy.com/products/intenso-cycle" class="product-card">
  <div class="product-card__image-wrapper  ">
    
        
    <img src="https://ucarecdn.com/ea6822b5-d8e2-4035-8ba6-af7d1d045c68/-/format/auto/-/preview/3000x3000/-/quality/lighter/1%20_64_.png" alt="Legs Strength (5 weeks)" class="product-card__image">
  </div>
  <div class="product-card__info">
    
    
    

    <div class="product-card__name">INTENSO CYCLE</div>

    
      <div class="product-card__price">
        
          
          
            <span class="visually-hidden">Regular price</span>
            $39.00
          

        
      </div>
    
  </div>

  
  <div class="product-card__overlay">
    
    <span class="btn product-card__overlay-btn ">View</span>
  </div>
</a>

      </div>
      <div class="grid__item small--one-half medium-up--one-fifth">
        <!-- /snippets/product-card.liquid -->



<a href="https://torokhtiy.com/products/weightliftig-bodybuilding-summer-edition" class="product-card">
  <div class="product-card__image-wrapper  ">
    
        
    <img src="https://ucarecdn.com/d922dae0-39cf-4c9b-bb34-fcafbb17d6a3/-/format/auto/-/preview/3000x3000/-/quality/lighter/OT_WEIGHTLIFTING%20BODYB87687UILDING_Cover.png" alt="Legs Strength (5 weeks)" class="product-card__image">
  </div>
  <div class="product-card__info">
    
    
    

    <div class="product-card__name">
Weightlifting Bodybuilding Summer Edition</div>

    
      <div class="product-card__price">
        
          
          
            <span class="visually-hidden">Regular price</span>
            $39.00
          

        
      </div>
    
  </div>

  
  <div class="product-card__overlay">
    
    <span class="btn product-card__overlay-btn ">View</span>
  </div>
</a>

      </div>
      <div class="grid__item small--one-half medium-up--one-fifth">
        <!-- /snippets/product-card.liquid -->



<a href="https://torokhtiy.com/products/deadlift-2-0" class="product-card">
  <div class="product-card__image-wrapper  ">
    
        
    <img src="https://ucarecdn.com/32fca16f-b665-4598-868c-c6478b20ce2c/-/format/auto/-/preview/3000x3000/-/quality/lighter/OT_DEADLIFT%20CYCLE%202_0%20PROGRAM_cover_1080x1080.jpg" alt="Legs Strength (5 weeks)" class="product-card__image">
  </div>
  <div class="product-card__info">
    
    
    

    <div class="product-card__name">
DEADLIFT 2.0</div>

    
      <div class="product-card__price">
        
          
          
            <span class="visually-hidden">Regular price</span>
            $39.00
          

        
      </div>
    
  </div>

  
  <div class="product-card__overlay">
    
    <span class="btn product-card__overlay-btn ">View</span>
  </div>
</a>

      </div>
      <div class="grid__item small--one-half medium-up--one-fifth">
        <!-- /snippets/product-card.liquid -->



<a href="https://torokhtiy.com/products/crossfit-weightlifting-program" class="product-card">
  <div class="product-card__image-wrapper  ">
    
        
    <img src="https://ucarecdn.com/78d9a266-eefc-47cb-add0-59f8f1568ec6/-/format/auto/-/preview/3000x3000/-/quality/lighter/2%20_61_.jpg" alt="Legs Strength (5 weeks)" class="product-card__image">
  </div>
  <div class="product-card__info">
    
    
    

    <div class="product-card__name">WEIGHTLIFTING 4
CROSSFIT</div>

    
      <div class="product-card__price">
        
          
          
            <span class="visually-hidden">Regular price</span>
            $39.00
          

        
      </div>
    
  </div>

  
  <div class="product-card__overlay">
    
    <span class="btn product-card__overlay-btn ">View</span>
  </div>
</a>

      </div>
      
      <div class="grid__item small--one-half medium-up--one-fifth">
        <!-- /snippets/product-card.liquid -->








<a href="https://torokhtiy.com/products/master-strength" class="product-card">
  <div class="product-card__image-wrapper  ">
    
        
    <img src="https://ucarecdn.com/b33eec5a-8a50-472d-a76f-a0760a30ede7/-/format/auto/-/preview/3000x3000/-/quality/lighter/MASTER%20STRENGTH%20PROGRAM.jpg" alt="Legs Strength (5 weeks)" class="product-card__image">
  </div>
  <div class="product-card__info">
    
    
    

    <div class="product-card__name">MASTER STRENGTH</div>

    
      <div class="product-card__price">
        
          
          
            <span class="visually-hidden">Regular price</span>
            $39.00
          

        
      </div>
    
  </div>

  
  <div class="product-card__overlay">
    
    <span class="btn product-card__overlay-btn ">View</span>
  </div>
</a>

      </div>
          

      </div>
    
      
    
     
      
  </div>
</div>
<script type="text/javascript">
//All Things Gym Rep Max Calculator: http://www.allthingsgym.com/rep-max-calculator/
//To do: fancy charts?

  $('#weight,#reps').on("keyup change", function() {
  var output = $('.output');
  var variable = 0;
  var RepMaxCalc = {
    init: function() {
      this.getInput();
      this.calculateOneRM();
      this.calculateRMs();
    },
    getInput: function() {
      RepMaxCalc.weight = $('#weight').val();
      RepMaxCalc.reps = $('#reps').val();
    },
    calculateOneRM: function() {
      RepMaxCalc.lomonerm = RepMaxCalc.weight * Math.pow(RepMaxCalc.reps, 1 / 10);
      RepMaxCalc.brzonerm = RepMaxCalc.weight * (36 / (37 - RepMaxCalc.reps));
      RepMaxCalc.eplonerm = RepMaxCalc.weight * (1 + (RepMaxCalc.reps / 30));
      RepMaxCalc.mayonerm = (RepMaxCalc.weight * 100) / (52.2 + (41.9 * Math.exp(-1 * (RepMaxCalc.reps * 0.055))));
      RepMaxCalc.ocoonerm = RepMaxCalc.weight * (1 + RepMaxCalc.reps * 0.025);
      RepMaxCalc.watonerm = (RepMaxCalc.weight * 100) / (48.8 + (53.8 * Math.exp(-1 * (RepMaxCalc.reps * 0.075))));
      RepMaxCalc.lanonerm = RepMaxCalc.weight * 100 / (101.3 - 2.67123 * RepMaxCalc.reps);
      RepMaxCalc.avgonerm = (RepMaxCalc.lomonerm + RepMaxCalc.brzonerm + RepMaxCalc.eplonerm + RepMaxCalc.mayonerm + RepMaxCalc.ocoonerm + RepMaxCalc.watonerm + RepMaxCalc.lanonerm) / 7;
      output.empty();
      if (RepMaxCalc.reps == 1) {
        output.append('<tr><td>' + '1RM' + '</td><td><strong>' + RepMaxCalc.weight + '</strong></td><td>100</td></tr>').find("td").css("font-size", "120%");
        variable = 100 / RepMaxCalc.weight;
      } else {
        output.append('<tr><td>' + '1RM' + '</td><td><strong>' + Math.floor(RepMaxCalc.avgonerm) + '</strong></td><td>100</td></tr>').find("td").css("font-size", "120%");
        variable = 100 / Math.floor(RepMaxCalc.avgonerm);
      }
    },
    calculateRMs: function() {
      for (i=2; i <= 10; i++) {
        RepMaxCalc.lomrm = Math.floor(RepMaxCalc.lomonerm / (Math.pow(i, 1 / 10)));
        RepMaxCalc.brzrm = Math.floor((RepMaxCalc.brzonerm * (37 - i)) / 36);
        RepMaxCalc.eplrm = Math.floor(RepMaxCalc.eplonerm / ((1 + (i / 30))));
        RepMaxCalc.mayrm = Math.floor((RepMaxCalc.mayonerm * (52.2 + (41.9 * Math.exp(-1 * (i * 0.055))))) / 100);
        RepMaxCalc.ocorm = Math.floor((RepMaxCalc.ocoonerm / (1 + i * 0.025)));
        RepMaxCalc.watrm = Math.floor((RepMaxCalc.watonerm * (48.8 + (53.8 * Math.exp(-1 * (i * 0.075))))) / 100);
        RepMaxCalc.lanrm = Math.floor(((RepMaxCalc.lanonerm * (101.3 - 2.67123 * i)) / 100));
        RepMaxCalc.avgrm = Math.floor((RepMaxCalc.lomrm + RepMaxCalc.brzrm + RepMaxCalc.eplrm + RepMaxCalc.mayrm + RepMaxCalc.ocorm + RepMaxCalc.watrm + RepMaxCalc.lanrm) / 7);
        if (RepMaxCalc.avgrm === 0) {RepMaxCalc.proc = 0;}
        else{RepMaxCalc.proc = (RepMaxCalc.avgrm * variable).toFixed(0);}
        output.append('<tr><td>' + i + 'RM' + '</td><td><strong>' + RepMaxCalc.avgrm + '</strong></td><td>' + RepMaxCalc.proc + '</td></tr>');
      }
    }
  }
  RepMaxCalc.init();
});

</script>

 
    
      