<div class="page-width">
  <h1 class="tc-m small--text-center">{{ page.title }}</h1>
      <div class="cf" style="max-width: 1180px; margin-left: auto; margin-right: auto;">
		<div class="cf w-100  center pa4" id="Torokhtiy">
			<h1 class="w-100 tl-l tc">Oleksiy Torokhtiy</h1>
			<div class="fl-l center mw6-m fn w-40-l w-100" id="Torokhtiy pic"><img src="https://cdn.shopify.com/s/files/1/0061/6939/5313/files/photo5350343866068347282_grande.jpg?v=1548270600" alt="Oleksiy Torokhtiy" /></div>
				<div class="ph4-l pv0-l  pv4 center mw6-m fl-l fn w-60-l w-100  m0 Torokhtiytext">
					<p class="mt0">Our CHAMP. Father of WBCM, TORWOD and cute boy Miron</p>
					
				</div>
		</div>
		<h1 class="ph4 tl-l tc mb0" style="text-align: center;">My Team</h1>
		<div class="w-100 flex flex-row flex-wrap justify-center mw9 center mt4" id="colleagues">

			<div class="dib pa3 mw20rem" id="Putsov">
  				<div class='dt tc w-100' style="height: 80px;">
					<h2 class="dtc v-btm tc w-100" >Tetiana Satanuha</h2>
  				</div>
				<div class="center w-100 colleaguePhoto" style="max-width: 280px;"><img src="https://cdn.shopify.com/s/files/1/0061/6939/5313/files/02_2.jpg?v=1548273696" alt="Tetiana Satanuha" /></div>
					<div class="ph3-m center w-100 colleagueText">
						<p style="text-align: center;">Fan of Oleksiy. Proud to be his personal assistant</p>
						
					</div>
			</div>
          
			<div class="dib pa3 mw20rem" id="Prysiazhniuk">
				<div class='dt tc w-100' style="height: 80px;">
					<h2 class="dtc v-btm tc w-100" >Sergei Putsov</h2>
  				</div>
				<div class="center w-100 colleaguePhoto" style="max-width: 280px;"><img src="https://cdn.shopify.com/s/files/1/0061/6939/5313/files/04.jpg?v=1548271829" alt="Sergei Putsov" /></div>
					<div class="ph3-m  mw9-m center w-100 colleagueText">
						<p style="text-align: center;">Life lover. Head of sports science, PhD.</p>
						
					</div>
			</div>
			<div class="dib pa3 mw20rem" id="Shymechko">
  				<div class='dt tc w-100' style="height: 80px;">
					<h2 class="dtc v-btm tc w-100" >Igor Shymechko</h2>
  				</div>
				<div class="center w-100 colleaguePhoto" style="max-width: 280px;"><img src="https://cdn.shopify.com/s/files/1/1806/0489/files/01.jpg?3279947886566107070" alt="Igor Shymechko " /></div>
					<div class="ph3-m w-100 colleagueText">
						<p style="text-align: center;">Big boy in weightlifting! PhD and ready to share his experience with you.</p>
					
					</div>
			</div>
          <div class="dib pa3 mw20rem" id="Putsov">
  				<div class='dt tc w-100' style="height: 80px;">
					<h2 class="dtc v-btm tc w-100" >Alyona Shovkun</h2>
  				</div>
				<div class="center w-100 colleaguePhoto" style="max-width: 280px;"><img src="https://cdn.shopify.com/s/files/1/1806/0489/files/03_2.jpg?v=1580824457" alt="Alyona Shovkun" /></div>
					<div class="ph3-m center w-100 colleagueText">
						<p style="text-align: center;">Customer Support & Translator</p>
						
					</div>
			</div>
			<div class="dib pa3 mw20rem" id="Kuzhelev">
  				<div class='dt tc w-100' style="height: 80px;">
					<h2 class="dtc v-btm tc w-100" >Yuriy Kuzhelev</h2>
  				</div>
				<div class="center w-100 colleaguePhoto" style="max-width: 280px;"><img src="https://cdn.shopify.com/s/files/1/1806/0489/files/07_2.jpg?5729772171111915202" alt="Yuriy Kuzhelev" /></div>
					<div class="ph3-m w-100 colleagueText">
						<p style="text-align: center;">Co-author of the video content at "Oleksiy TOROKHTIY" YouTube channel.</p>
					</div>
			</div>
          
          <div class="dib pa3 mw20rem" id="Kuzhelev">
  				<div class='dt tc w-100' style="height: 80px;">
					<h2 class="dtc v-btm tc w-100" ></h2>
  				</div>
				<div class="center w-100 colleaguePhoto" style="max-width: 280px;"><img src="" alt="" /></div>
					<div class="ph3-m w-100 colleagueText">
  						<p style="text-align: center;"></p>
					</div>
              </div>
			<div class="dib pa3 mw20rem" id="Kuzhelev">
  				<div class='dt tc w-100' style="height: 80px;">
					<h2 class="dtc v-btm tc w-100" >Yaroslav Zuban</h2>
  				</div>
				<div class="center w-100 colleaguePhoto" style="max-width: 280px;"><img src="https://cdn.shopify.com/s/files/1/1806/0489/files/photo_2019-01-28_20-21-52.jpg?5729772171111915202" alt="Yaroslav Zuban" /></div>
					<div class="ph3-m w-100 colleagueText">
  						<p style="text-align: center;">Web Maintenance Service.</p>
					</div>
              </div>
              <div class="dib pa3 mw20rem" id="Kuzhelev">
  				<div class='dt tc w-100' style="height: 80px;">
					<h2 class="dtc v-btm tc w-100" ></h2>
  				</div>
				<div class="center w-100 colleaguePhoto" style="max-width: 280px;"><img src="" alt="" /></div>
					<div class="ph3-m w-100 colleagueText">
  						<p style="text-align: center;"></p>
					</div>
              
			</div>
		</div>
	</div>

  	{% section 'featured-products-subsection' %}
</div>
